# Virtual environment & tool configs
.venv/
pyvenv.cfg
.lock

# Secrets and environment variables
.env
.streamlit/secrets.toml
.streamlit

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Scrapy runtime files
.scrapy/
*.log

# OS metadata
.DS_Store
Thumbs.db
